@font-face {
    font-family: 'Jost';
    src: url(resources/Jost/fonts/Jost-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    box-sizing: border-boxИ;
}

body{
    background:linear-gradient(to right, #00968a, #eefc5e);
}
#quote{
    margin-top: -500px;
    margin-left: 90px;
    color: white;
    font-size: 50px;
}

#description{
    padding-left: 80px
}

#logo{
    display: table;
    float: left;
    width: 250px;
    height: auto;
}

#heading{
padding-top: 100px;
}

#img{
    width: 850px;
    height: auto;
    padding-left: 900px;
}

.what{
    font-size: 50px;
    padding-left: 200px;
}

#card1{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: white;
    border-radius: 100px;
    margin-top: 150px;
    margin-left: 100px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

#card2{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: white;
    border-radius: 100px;
    margin-left: 700px;
    margin-top: -400px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

#card3{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: white;
    border-radius: 100px;
    margin-left: 100px;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-left: 1300px;
    margin-top: -405px;
}

#description{
    padding-left:90px ;
}

.mockup{
    width: 800px;
    height: auto;
}

