html {
	display: block;
 }
 head {
	display: none;
 }
 body {
	margin: 0;
	font-family: "Helvetica", sans-serif;
	color: seashell;          
	background-color: black;   
	font-size: 22px;
	text-align: center;
	opacity: 0.9;
 }
 .container {	
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
 }
 div {
	display: block;
 }
 .main {
	padding-top: 69px;
	opacity: 0.9;
	width: 1200px;
	margin: auto;
 }
 header {
	width: 100%;
	position: fixed;
	z-index: 1;
	height: 69px;
	background-color: black;
	border-bottom: 1px solid seashell;
	align-items: center;
 }
 header img {
	height: 50px;
	padding-left: 10px;
 }
 nav {
	text-align: right;
	flex-grow: 1;
	display: block;
 }
 nav a {
	text-decoration: underline;
	color: seashell;
 }
 nav span {
	display: inline;
	padding: 20px 10px;
 }
 #todo {
	height: 700px;
	background-image: url(https://github.com/darkhanzhursin/jihc-fe/blob/main/homeworks/css/tea/images/img-mission-background.jpg?raw=true);
	padding-top: 70px;
 }
 h2 h3 h4 {
	margin: 0;
	padding: 10px;
 }
 h2 {
	display: block;
	font-size: 24px;
	margin-block-start: 14px;
	margin-block-end: 14px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
 }
 h4 {
	display: block;
	margin-block-start: 22px;
	margin-block-end: 22px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
 }
 #todo .content {
	margin: auto;
	background-color: black;
	width: 100%;
 }
 #bebra {
	height: 700px;
	width: 1000px;
	margin: auto;
	padding-top: 70px;
	display: block;
 }
 .items {
	padding: 5px;
 }
 .items img {
	height: 200px;
	width: 300px;
	margin: 10px;
	display: block;
 }
 .items span {
	display: block;
	padding: 5px;
	font-weight: bold;
	text-align: center;
 }
 
 #locations {
	background-image: url(../TEA/image/img-mission-background.jpg);
	height: 500px;
	width: 1200px;
	padding-top: 70px;
	background-repeat: no-repeat;
	margin: auto;
	align-items: center;
 }
 #locations .flex-container-location {
	justify-content: space-between;
	margin: auto;
	width: 1100px;
 }
 .locations {
	display: flex;
	opacity: 1;
	padding: 10px;
	margin: 5px 20px;
	background-color: black;
	flex-basis: 280px;
	display: flex;
	flex-direction: column;
	justify-content: center;
 }
 .container.location {
	padding-top: 5px;
 }
 p {
	display: block;
	margin-block-start: 16px;
	margin-block-end: 16px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
 }
 #contact {
	height: 200px;
	display: block;
 }
 footer {
	text-align: left;
	padding-left: 20px;
	display: block;
 }
 h5 {
	display: block;
	font-size: 13px;
	margin-block-start: 27px;
	margin-block-end: 27px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
 }
 #locations {
	height: 500px;
	background-image: url ();
	padding-top: 20px;
	}
	#locations {
		background-image: url(https://raw.githubusercontent.com/darkhanzhursin/jihc-fe/main/homeworks/css/tea/images/img-locations-background.jpg);
		height: 500px;
		width: 1200px;
		padding-top: 70px;
		background-repeat: no-repeat;
		margin: auto;
		align-items: center;
}